
section{
    max-width: 600px;
    margin: 0 auto;
}
footer{
    max-width: 600px;
    margin: 0 auto;

}
.header-img{
    width: 150px;
    height: auto;
}
.header .header-wrapper{
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

/* Menu */
.menu-container ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.menu-container ul a{
    color: black;
    text-decoration: none;
}

/* Merry */
.merry-container{
    background: #9ccae3;
    height: 800px;
    --mask:
    radial-gradient(8.94rem at 50% calc(100% - 12.00rem),#000 99%,#0000 101%) calc(50% - 8rem) 0/16rem 100%,
    radial-gradient(8.94rem at 50% calc(100% + 8.00rem),#0000 99%,#000 101%) 50% calc(100% - 4rem)/16rem 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    }
.merry-image{
    display: flex;
     align-items: center;
    flex-direction: column;
}
.merry-decor{
    width: auto;
    height: 170px;
    margin-bottom: 3rem;
}
.merry-christmas{
    width: auto;
    height: 170px;
}
.merry .merry-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.merry-texts{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.merry-list .merry-texts h2{
    font-size: 1.5rem;
    font-weight: 500;
}
.merry-list .merry-code{
    text-align: center;
    padding: 0 4.5rem;
}
.merry-bold{
    font-weight: 600;
}
.merry-btn{
    margin: 2rem 0;
    border: 1px solid rgb(60, 59, 69);
    padding: 1rem 2rem;
    background: rgb(60, 59, 59);
    border-radius: 0.2rem;
}
.shop-now{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
 /* shopping */
.shopping-container{
    background: white;
    height: 1000px;
}
.shopping-top{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
.shopping-top h4{
    font-size: 1rem;
    font-weight: 400;
}
.shopping-second{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.shopping-second h2{
    font-size: 2rem;
    font-weight: 400;
}
.shopping-second p{
    font-size: 1rem;
    font-weight: 400;
}
.shopping-cart:nth-of-type(odd){
    display: flex;
    flex-direction: row;
}
.shopping-cart:nth-of-type(even){
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}
.shopping-info .shop-btn-sec{
    margin-left: 10rem;
}

.shopping-dress img{
    height: 250px;
    width: auto;
}
.shopping-dress{
    margin-right: 3rem;
}
.shopping-info .shopping-title {
    font-size: 1.8rem;
    font-weight: 200;
}
.shopping-info h4{
    color: red;
    font-weight: 400;
    font-size: 1rem;
}
.shopping-info .crossed-out{
    text-decoration:line-through;
    color: rgb(180, 180, 180);
    font-size: 1.2rem;
}
.shopping-info p{
    font-size:1.7rem;
}
.shop-btn{
    border: 1px solid rgb(247, 239, 222);
    background: rgb(247, 239, 222);
    padding: 1rem 1rem;
    width: fit-content;
}
.shopping-btn{
    color:#000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}
/* footer */
.footer-container{
    background: #333333;
    padding-top: 5rem;
    height: 300px;
    --mask:
    radial-gradient(8.94rem at 50% 12.00rem,#000 99%,#0000 101%) calc(50% - 8rem) 0/16rem 100%,
    radial-gradient(8.94rem at 50% -8rem,#0000 99%,#000 101%) 50% 4rem/16rem 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
.footer .footer-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    }
.footer-socials ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    gap: 0.5rem;
    }
.footer-socials i{
    color: white;
    width: 2rem;
    height: auto;
    }
.footer-message{
    text-align: center;
    font-weight: 200;
    }
.footer-message a{
    color: white;
}

@media screen and (max-width:500px){
    .header-img{
        width: 150px;
        height: auto;
    }
    .header .header-wrapper{
        display: flex;
        justify-content: center;
        padding: 3rem 0;
    }

    /* Menu */
    .menu-container ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }
    .menu-container ul a{
        color: black;
        text-decoration: none;
    }
    .menu-container ul li:nth-child(2){
        display: none;
    }
    .menu-container ul li:nth-child(5){
        display: none;
    }

    /* Merry */
    .merry-container{
        background: #9ccae3;
        height: 800px;
        --mask:
        radial-gradient(8.94rem at 50% calc(100% - 12.00rem),#000 99%,#0000 101%) calc(50% - 8rem) 0/16rem 100%,
        radial-gradient(8.94rem at 50% calc(100% + 8.00rem),#0000 99%,#000 101%) 50% calc(100% - 4rem)/16rem 100% repeat-x;
      -webkit-mask: var(--mask);
              mask: var(--mask);
    }
    .merry-decor{
        width: auto;
        height: 170px;
        margin-bottom: 3rem;
    }
    .merry-christmas{
        width: auto;
        height: 170px;
    }
    .merry .merry-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .merry-texts{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
    }
    .merry-list .merry-texts h2{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .merry-list .merry-code{
        text-align: center;
        padding: 0 4.5rem;
    }
    .merry-bold{
        font-weight: 600;
    }
    .merry-btn{
        margin: 2rem 0;
        border: 1px solid rgb(60, 59, 69);
        padding: 1rem 2rem;
        background: rgb(60, 59, 59);
        border-radius: 0.2rem;
    }
    .shop-now{
        font-size: 1rem;
        font-weight: 600;
        color: white;
        text-decoration: none;
    }
    /* shopping */
    .shopping-container{
        background: white;
        height: 2700px;
    }
    .shopping-top{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .shopping-top h4{
        font-size: 1rem;
        font-weight: 400;
    }
    .shopping-second{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .shopping-second h2{
        font-size: 2rem;
        font-weight: 400;
    }
    .shopping-second p{
        font-size: 1rem;
        font-weight: 400;
    }
    .shopping-cart:nth-of-type(even){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 5rem;
    }
    .shopping-cart:nth-of-type(odd){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 5rem;
    }
    .shopping-dress img{
        width: auto;
        height: 500px;
    }
    .shopping-info .shopping-title {
        font-size: 1.8rem;
        font-weight: 200;
    }
    .shopping-info h4{
        color: red;
        font-size: 1rem;
        font-weight: 400;
    }
    .shopping-info .crossed-out{
        text-decoration:line-through;
        color: rgb(180, 180, 180);
        font-size: 1.2rem;
    }
    .shopping-info p{
        font-size:1.7rem;
    }
    .shop-btn{
        border: 1px solid rgb(247, 239, 222);
        background: rgb(247, 239, 222);
        padding: 1rem 1rem;
        margin: 0 8rem;
    }
    .shopping-btn{
        color:#000;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
    }
    /* footer */
    .footer-container{
        background: #333333;
        padding-top: 5rem;
        height: 300px;
        --mask:
        radial-gradient(8.94rem at 50% 12.00rem,#000 99%,#0000 101%) calc(50% - 8rem) 0/16rem 100%,
        radial-gradient(8.94rem at 50% -8rem,#0000 99%,#000 101%) 50% 4rem/16rem 100% repeat-x;
      -webkit-mask: var(--mask);
              mask: var(--mask);
    }
    .footer .footer-items{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
    }
    .footer-socials ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        list-style: none;
        gap: 0.5rem;
    }
    .footer-socials i{
        color: white;
        width: 2rem;
        height: auto;
    }
    .footer-message{
        text-align: center;
        font-weight: 200;
    }
    .footer-message a{
        color: white;
    }
}